<html>
<head>
  <title>Vancouver Mulligan</title>
</head>

<body>
<form action="/mull/" method="POST">
  Number of ramp spells: <input type="text" name="ramp">
  <br/>
  Number of low-curve spells: <input type="text" name="curve">
  <br/>
  <input type="submit">
</form>
</body>
</html>