<link rel="stylesheet" type="text/css" href="<%= url("/form_style.css")%>">

<html>
<head>
  <title>Vancouver Mulligan</title>
</head>
<body>
<img align="center" src="https://i.imgur.com/vE9rkVZ.jpg">
</body>
<link rel="stylesheet" type="text/css" href="<%= url("/modal.css")%>">
<br/>
<a href="#openModal"><img src="https://i.imgur.com/9DRtcS8.jpg">WTF INSTRUKIONS?</a>

<div id="openModal" class="modalDialog">
  <div>	<a href="#close" title="Close" class="close">X</a>

    <h2>Mulligan simulator</h2>

    <p>Input the number of ramp spells and low-curve spells in your deck.</p>
    <p>We'll have some mechanical turks working for pennies on the dollar shuffle real decks for you.</p>
    <p>We'll draw 1000 starting hands at different land counts, and then figure out how many we can keep.</p>
    <p>Criteria for keeping a hand:
    <br/>6-7 cards, with 3-4 lands, or
    <br/>5-6 cards, with 3+ lands and a low-curve spell, or
    <br/>5-6 cars, with 3+ lands and a piece of ramp.</p>
    <p></p>
    <p>Easy! Don't be a jerk and DDoS it too bad; this is hosted on a free tier heroku box.</p>
  </div>
</div>
<div class="form-style-3">
  <form action="/mull/" method="POST">
    <fieldset><legend>IMPORTANT PARAMETERS AND STUFF</legend>
      <label for="ramp"><span>Ramp Spell Count: <span class="required">*</span></span><input type="text" class="input-field" name="ramp" value="5" /></label>
      <label for="curve"><span>Low-Curve Spell Count: <span class="required">*</span></span><input type="text" class="input-field" name="curve" value="15" /></label>
      <input type="submit" value="Submit" /></label>
    </fieldset>
  </form>
</div>
</body>
</html>